#myOwnCustomFirstToolbar12345{
	position: fixed;
	z-index: 9999;
	top: 0%;
	left: 33%;
	width: 33%;
	background: white;
	border: 2;
	border_style: solid;
	border-width: 5px;
	border-color: orange;
}